@font-face {
    font-family: 'Poppins Light';
    src: url("../assets/fonts/FZ\ Poppins-Light.ttf") format('truetype');
  }
li {
    list-style: none;
    font-size: 16px;
    font-family: 'Poppins Light';
    color: #fff;
}