ul li {
    margin-bottom: 30px;
    margin-top: 30px;
    color: #FFFDEF;
    display: flex;
    font-family: 'Playfair Display Regular', 'sans-serif';

}

@keyframes moveAndGlitch {

    /* Di chuyển mượt đến vị trí mới */
    0%,
    40% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(8px);
    }

    /* Giật nhẹ tại vị trí mới */
    50% {
        transform: translateX(8px);
    }

    60% {
        transform: translateX(9px);
    }

    70% {
        transform: translateX(7px);
    }

    80% {
        transform: translateX(8.5px);
    }

    90% {
        transform: translateX(7.5px);
    }

    100% {
        transform: translateX(8px);
    }
}



hr {
    display: none;
}

.menu-item a {
    transition: font-weight 0.3s ease;
}

/* Thay thế bằng các rule riêng biệt */
.menu-item:hover hr {
    display: block;
}

.active hr {
    display: block;
}

/* Điều chỉnh animation khi hover */
.menu-item:hover a {
    font-family: 'Playfair Display Bold', 'sans-serif';
    animation: moveAndGlitch 0.5s ease forwards;
}

/* Chỉ áp dụng style active khi không hover */
.active a {
    font-family: 'Playfair Display Bold', 'sans-serif';
    animation: moveAndGlitch 0.5s ease forwards;
}
