@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Playfair Display Bold';
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display Regular';
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 8px;
    font-family: 'Montserrat Regular'
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
    font-family: 'Playfair Display Bold';
  }
  h3 {
    font-size: 0.5rem;
    font-family: 'Playfair Display Regular';
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 9px;
    font-family: 'Montserrat Regular'
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
    font-family: 'Playfair Display Bold';
  }
  h3 {
    font-size: 0.75rem;
    font-family: 'Playfair Display Regular';
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 10px;
    font-family: 'Montserrat Regular'
  }
  
  h2 {
    font-size: 1.5rem;
    font-family: 'Playfair Display Bold';
  }
  h3 {
    font-size: 1rem;
    font-family: 'Playfair Display Regular';
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 14px;
    font-family: 'Montserrat Regular'
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
    font-family: 'Playfair Display Bold';
  }
  h3 {
    font-size: 1.25rem;
    font-family: 'Playfair Display Regular';
  }
  button{
    font-size: 1.1rem;
  }
}

:root {
  --background: #FFFDEF;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
}