@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins Medium';
  src: url("../assets/fonts/FZ\ Poppins-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url("../assets/fonts/FZ\ Poppins-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url("../assets/fonts/FZ\ Poppins-Bold.ttf") format('truetype');
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 7px;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 9px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins Medium', sans-serif;
}