@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Playfair Display Bold';
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display Regular';
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); } /* Tim to ra */
  100% { transform: scale(1); }
}

.animate-heartbeat {
  animation: heartbeat 0.8s infinite ease-in-out; /* Lặp vô hạn */
}


/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.5rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 0.65rem;
  }
  h3 {
    font-size: 0.5rem;
  }
  h4 {
    font-size: 0.4rem;
  }
  span {
    font-size: 0.3rem;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 0.55rem;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.7rem;
    ;
  }

  h4 {
    font-size: 0.6rem;
  }

  span {
    font-size: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.65rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.7rem;
  }

  span {
    font-size: 0.6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.65rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  span {
    font-size: 0.7rem;
  }
}




:root {
  --background: #FFFDEF;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Regular';
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-family: 'Playfair Display Bold';
}

h2 {
  font-family: 'Playfair Display Bold';
}

h3 {
  font-family: 'Playfair Display Regular';

}